*.suo
*.sdf
*.opendb
*.filters
*.user
*.dll
*.prx
*.vspx
*.png
*.rez
*.exe
*.bmp
*.7z
*.html
*.css
*.txt
*.ini
*.usr
*.wwd
.vs/
doc/
Debug/
Release/
ipch/
SFML*/
glfw*/
glew*/
glm/
clawx/Claw/Custom/
clawx/Claw/Sounds/